<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bad Bunny</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/image/benito.jpg">
    <ion-card-header>
      <ion-card-title>Bad Bunny</ion-card-title>
      <ion-card-subtitle>16/11/22</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Regresenme a ese dia</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>Detalles del evento</ion-list-header>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Lugar:</ion-label>
      <ion-text>Quito</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="ticket-outline" slot="start"></ion-icon>
      <ion-label>Precio:</ion-label>
      <ion-text>85</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Fecha:</ion-label>
      <ion-text>16/11/22</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>Duración:</ion-label>
      <ion-text>2 horas</ion-text>
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Artistas:</ion-label>
      <ion-text>El conejo malo</ion-text>
    </ion-item>
  </ion-list>

  <ion-button expand="block">Comprar entradas</ion-button>
</ion-content>

