<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row  *ngFor="let evento of events; let indexEvento = index" justify-content-center align-items-center style="height: 100%">
        <app-card-big theEvent={{evento.id}} nameEvent={{evento.name}} dateEvent={{evento.date}} descriptionEvent={{evento.description}} photoEvent={{evento.image}}></app-card-big>
    </ion-row>
  </ion-grid>
</ion-content>


