<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configuración
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>
      Modo Oscuro
    </ion-label>
    <app-toggle-dark></app-toggle-dark>
  </ion-item>


  <div class="preview">
		<ion-avatar (click)="changeImage()">
			<img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
			<ng-template #placheolder_avatar>
				<div class="fallback">
					<p>Select avatar</p>
				</div>
			</ng-template>
		</ion-avatar>
	</div>

</ion-content>
